<!DOCTYPE html>
<html>

<head>
    <title>Edit rezultata</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body class="content">

<main class="main">
    <div>
        <h2><a href=<%= "/utakmica/" + utakmica.id %>>Go Back</a></h2>
    </div>
    
    <div>
        <h2>Izmjena rezultata</h2>
        <h2 style="text-align: center;"><%= utakmica.team1 + " " + utakmica.gol1 + " - " + utakmica.gol2 + " " + utakmica.team2 %> </h2>
        <form style="text-align: center">
            <label for="t1"><%= "rezultat za:  " + utakmica.team1 %></label><br>
            <input type="number" id="t1" name="t1"><br>
            <br></br>
            <label for="t2"><%= "rezultat za:  " + utakmica.team2 %></label><br>
            <input type="number" id="t2" name="t2"><br>
            <br></br>
            <input type="submit" value="Submit">
        </form>
    </div>

</main>

</body>

</html>